@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --font-heading: var(--font-sans);
    --font-sans: 'Inter', sans-serif;
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
    --shadow-custom: var(--shadow-custom);
    --animate-slide-up: slideUp 0.2s ease-out;
    --animate-slide-down: slideDown 0.2s ease-out;
    --animate-expand: expand 0.2s ease-out;
    --animate-collapse: collapse 0.2s ease-out;
    --animate-marquee-x: marqueeX var(--marquee-duration) linear infinite var(--marquee-delay);
    --animate-marquee-y: marqueeY var(--marquee-duration) linear infinite var(--marquee-delay);
    --animate-flip-in: flip-in 0.2s ease-out;
    --animate-flip-out: flip-out 0.2s ease-out;
    --animate-indeterminate: indeterminate 1.5s ease-in-out infinite;
    --color-warning-foreground: var(--warning-foreground);
    --color-warning: var(--warning);
    --color-success-foreground: var(--success-foreground);
    --color-success: var(--success);
    --color-info-foreground: var(--info-foreground);
    --color-info: var(--info);
    --color-destructive-foreground: var(--destructive-foreground);
  @keyframes slideUp {
  from {
    height: var(--height);
        }
  to {
    height: 0;
        }
    }
  @keyframes slideDown {
  from {
    height: 0;
        }
  to {
    height: var(--height);
        }
    }
  @keyframes expand {
  from {
    height: var(--collapsed-height, 0);
        }
  to {
    height: var(--height);
        }
    }
  @keyframes collapse {
  from {
    height: var(--height);
        }
  to {
    height: var(--collapsed-height, 0);
        }
    }
  @keyframes marqueeX {
  from {
    transform: translateX(0);
        }
  to {
    transform: translateX(var(--marquee-translate));
        }
    }
  @keyframes marqueeY {
  from {
    transform: translateY(0);
        }
  to {
    transform: translateY(var(--marquee-translate));
        }
    }
  @keyframes flip-in {
  from {
    transform: rotateY(180deg);
        }
  to {
    transform: rotateY(0deg);
        }
    }
  @keyframes flip-out {
  from {
    transform: rotateY(0deg);
        }
  to {
    transform: rotateY(180deg);
        }
    }
  @keyframes indeterminate {
  0% {
    transform: translateX(-100%);
        }
  100% {
    transform: translateX(400%);
        }
    }
}

:root {
    --spacing: 0.3rem;
    --radius: 0.625rem;

    --background: oklch(1 0 0);
    --foreground: oklch(0.21 0.03 264.67);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.21 0.03 264.67);
    --popover: oklch(1.00 0 0);
    --popover-foreground: oklch(0.21 0.03 264.67);
    --primary: oklch(0.48 0.20 260.48);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.9142 0.0208 274.02);
    --secondary-foreground: oklch(0.37 0.03 259.73);
    --muted: oklch(0.9443 0.0165 274.82);
    --muted-foreground: oklch(0.55 0.02 264.37);
    --accent: oklch(0.95 0.02 261.78);
    --accent-foreground: oklch(0.48 0.20 260.48);
    --destructive: oklch(0.58 0.22 27.33);
    --border: oklch(0.9142 0.0208 274.02);
    --input: oklch(0.9002 0.013 266.69);
    --ring: oklch(0.48 0.20 260.48);
    --chart-1: oklch(0.48 0.20 260.48);
    --chart-2: oklch(0.56 0.24 260.95);
    --chart-3: oklch(0.40 0.16 259.09);
    --chart-4: oklch(0.43 0.16 259.85);
    --chart-5: oklch(0.29 0.07 260.37);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0.21 0.03 264.67);
    --sidebar-primary: oklch(0.48 0.20 260.48);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.95 0.02 261.78);
    --sidebar-accent-foreground: oklch(0.48 0.20 260.48);
    --sidebar-border: oklch(0.93 0.01 264.60);
    --sidebar-ring: oklch(0.48 0.20 260.48);

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
    --shadow-custom: 0 1px 10px 0px oklch(0 0 0 / 0.15);
    --destructive-foreground: var(--color-red-700);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-700);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-700);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-700);
}

.dark {
    --background: oklch(0.26 0.03 262.71);
    --foreground: oklch(0.93 0.01 264.60);
    --card: oklch(0.3452 0.0243 255.69);
    --card-foreground: oklch(0.93 0.01 264.60);
    --popover: oklch(0.3452 0.0243 255.69);
    --popover-foreground: oklch(0.93 0.01 264.60);
    --primary: oklch(0.56 0.24 260.95);
    --primary-foreground: oklch(1.00 0 0);
    --secondary: oklch(0.35 0.04 262.16);
    --secondary-foreground: oklch(0.93 0.01 264.60);
    --muted: oklch(0.30 0.03 261.75);
    --muted-foreground: oklch(0.71 0.02 261.33);
    --accent: oklch(0.33 0.04 264.82);
    --accent-foreground: oklch(0.93 0.01 264.60);
    --destructive: oklch(0.64 0.21 25.33);
    --border: oklch(0.422 0.035 261.299);
    --input: oklch(0.422 0.035 261.299);
    --ring: oklch(0.56 0.24 260.95);
    --chart-1: oklch(0.56 0.24 260.95);
    --chart-2: oklch(0.48 0.20 260.48);
    --chart-3: oklch(0.69 0.17 256.00);
    --chart-4: oklch(0.43 0.16 259.85);
    --chart-5: oklch(0.29 0.07 260.37);
    --sidebar: oklch(0.26 0.03 262.71);
    --sidebar-foreground: oklch(0.93 0.01 264.60);
    --sidebar-primary: oklch(0.56 0.24 260.95);
    --sidebar-primary-foreground: oklch(1.00 0 0);
    --sidebar-accent: oklch(0.33 0.04 264.82);
    --sidebar-accent-foreground: oklch(0.93 0.01 264.60);
    --sidebar-border: oklch(0.35 0.04 262.16);
    --sidebar-ring: oklch(0.56 0.24 260.95);

    --shadow-2xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-xs: 0 1px 3px 0px oklch(0.00 0 0 / 0.05);
    --shadow-sm: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 1px 2px -1px oklch(0.00 0 0 / 0.10);
    --shadow-md: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 2px 4px -1px oklch(0.00 0 0 / 0.10);
    --shadow-lg: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 4px 6px -1px oklch(0.00 0 0 / 0.10);
    --shadow-xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.10), 0 8px 10px -1px oklch(0.00 0 0 / 0.10);
    --shadow-2xl: 0 1px 3px 0px oklch(0.00 0 0 / 0.25);
    --destructive-foreground: var(--color-red-400);
    --info: var(--color-blue-500);
    --info-foreground: var(--color-blue-400);
    --success: var(--color-emerald-500);
    --success-foreground: var(--color-emerald-400);
    --warning: var(--color-amber-500);
    --warning-foreground: var(--color-amber-400);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
    }
  body {
    @apply bg-sidebar text-foreground;
    }
  html {
    @apply font-sans;
    }
}

/*---break---*/

@utility hitbox-debug {
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    @apply border border-dashed border-info bg-info/10;
    }
  &:hover::before {
    @apply border border-dashed border-success bg-success/10;
    }
}

/*---break---*/

@utility hitbox {
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-* {
    --hitbox-t: calc(--value([*]) * -1);
    --hitbox-b: calc(--value([*]) * -1);
    --hitbox-l: calc(--value([*]) * -1);
    --hitbox-r: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-l-* {
    --hitbox-l: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-r-* {
    --hitbox-r: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-t-* {
    --hitbox-t: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-b-* {
    --hitbox-b: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-x-* {
    --hitbox-l: calc(--value([*]) * -1);
    --hitbox-r: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@utility hitbox-y-* {
    --hitbox-t: calc(--value([*]) * -1);
    --hitbox-b: calc(--value([*]) * -1);
    position: relative;
  &::before {
    position: absolute;
    top: var(--hitbox-t, 0px);
    right: var(--hitbox-r, 0px);
    bottom: var(--hitbox-b, 0px);
    left: var(--hitbox-l, 0px);
    pointer-events: inherit;
    content: "";
    }
}

/*---break---*/

@layer components {
  .prose h1:not(.not-prose h1) {
    font-size: var(--text-2xl);
    font-weight: 800;
    line-height: var(--text-2xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h2:not(.not-prose h2) {
    padding-bottom: calc(var(--spacing) * 2);
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-xl);
    font-weight: 600;
    line-height: var(--text-xl--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h2:not(.not-prose h2):first-child {
    margin-top: 0;
    }
  .prose h3:not(.not-prose h3) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h3:not(.not-prose h3):first-child {
    margin-top: 0;
    }
  .prose h4:not(.not-prose h4) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h4:not(.not-prose h4):first-child {
    margin-top: 0;
    }
  .prose h5:not(.not-prose h5) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-lg);
    font-weight: 600;
    line-height: var(--text-lg--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h5:not(.not-prose h5):first-child {
    margin-top: 0;
    }
  .prose h6:not(.not-prose h6) {
    margin-top: calc(var(--spacing) * 8);
    font-size: var(--text-base);
    font-weight: 600;
    line-height: var(--text-base--line-height);
    letter-spacing: var(--tracking-tight);
    scroll-margin: calc(var(--spacing) * 20);
    }
  .prose h6:not(.not-prose h6):first-child {
    margin-top: 0;
    }
  .prose h1:not(.not-prose h1) + p, .prose h2:not(.not-prose h2) + p, .prose h3:not(.not-prose h3) + p, .prose h4:not(.not-prose h4) + p, .prose h5:not(.not-prose h5) + p, .prose h6:not(.not-prose h6) + p {
    margin-top: 0;
    }
  .prose p:not(.not-prose p) {
    line-height: 1.75;
    }
  .prose p:not(.not-prose p):not(:first-child) {
    margin-top: calc(var(--spacing) * 6);
    }
  .prose li:not(.not-prose li) {
    line-height: 1.75;
    }
  .prose a:not(.not-prose a) {
    font-weight: 500;
    color: var(--color-primary);
    text-decoration: underline;
    text-underline-offset: var(--spacing);
    }
  .prose blockquote:not(.not-prose blockquote) {
    padding-left: calc(var(--spacing) * 6);
    margin-top: calc(var(--spacing) * 6);
    font-style: italic;
    border-left: 2px solid var(--color-border);
    }
  .prose table:not(.not-prose table) {
    width: 100%;
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    overflow-y: auto;
    }
  .prose table:not(.not-prose table) thead tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
    }
  .prose table:not(.not-prose table) thead tr:nth-child(even) {
    background-color: var(--color-muted);
    }
  .prose table:not(.not-prose table) th {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    font-weight: 700;
    text-align: left;
    border: 1px solid var(--color-border);
    }
  .prose table:not(.not-prose table) th[align="center"] {
    text-align: center;
    }
  .prose table:not(.not-prose table) th[align="right"] {
    text-align: right;
    }
  .prose table:not(.not-prose table) tbody tr {
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--color-border);
    }
  .prose table:not(.not-prose table) tbody tr:nth-child(even) {
    background-color: var(--color-muted);
    }
  .prose table:not(.not-prose table) td {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    text-align: left;
    border: 1px solid var(--color-border);
    }
  .prose table:not(.not-prose table) td[align="center"] {
    text-align: center;
    }
  .prose table:not(.not-prose table) td[align="right"] {
    text-align: right;
    }
  .prose ul:not(.not-prose ul) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: disc;
    }
  .prose ul:not(.not-prose ul) > li {
    margin-top: calc(var(--spacing) * 2);
    }
  .prose ul:not(.not-prose ul) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    }
  .prose ol:not(.not-prose ol) {
    margin-top: calc(var(--spacing) * 6);
    margin-left: calc(var(--spacing) * 6);
    list-style: decimal;
    }
  .prose ol:not(.not-prose ol) > li {
    margin-top: calc(var(--spacing) * 2);
    }
  .prose ol:not(.not-prose ol) p {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
    }
  .prose img:not(.not-prose img), .prose picture:not(.not-prose picture), .prose video:not(.not-prose video) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    }
  .prose picture > img:not(.not-prose picture > img) {
    margin-top: 0;
    margin-bottom: 0;
    }
  .prose kbd:not(.not-prose kbd) {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    font-weight: 600;
    line-height: var(--text-xs--line-height);
    background-color: var(--color-muted);
    border-radius: calc(var(--radius) - 2px);
    }
  .prose hr {
    margin-top: calc(var(--spacing) * 10);
    margin-bottom: calc(var(--spacing) * 10);
    }
  .prose dl:not(.not-prose dl) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    }
  .prose dl:not(.not-prose dl) dt {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    }
  .prose dl:not(.not-prose dl) dt:first-child {
    margin-top: 0;
    }
  .prose details:not(.not-prose details) {
    margin-top: calc(var(--spacing) * 6);
    }
  .prose details:not(.not-prose details) summary {
    margin-top: calc(var(--spacing) * 6);
    font-weight: 600;
    letter-spacing: var(--tracking-tight);
    cursor: pointer;
    }
  .prose details:not(.not-prose details) p:first-of-type {
    margin-top: calc(var(--spacing) * 2);
    }
  .prose mark:not(.not-prose mark) {
    background-color: var(--color-yellow-300);
    }
  .prose small:not(.not-prose small) {
    font-size: var(--text-xs);
    line-height: 1;
    }
  .prose figure:not(.not-prose figure) {
    margin-top: calc(var(--spacing) * 6);
    margin-bottom: calc(var(--spacing) * 6);
    }
  .prose figure:not(.not-prose figure) img {
    margin-top: 0;
    margin-bottom: 0;
    border-radius: var(--radius);
    }
  .prose figure:not(.not-prose figure) figcaption {
    margin-top: calc(var(--spacing) * 2);
    font-size: var(--text-sm);
    font-weight: 500;
    line-height: var(--text-sm--line-height);
    color: var(--color-muted-foreground);
    }
  .prose code:not(.not-prose code) {
    padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 1.5);
    font-size: var(--text-xs);
    font-weight: 500;
    line-height: var(--text-xs--line-height);
    color: var(--color-muted-foreground);
    background-color: var(--color-muted);
    border-radius: var(--radius-sm);
    }
}